// colors
$black: #100f0f;
$white: #efefef;
$green: #1fc36c;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-primary: 'Roboto', sans-serif;
@import 'fonts/AkzidenzGroteskBQ-Bold/font_style';
$font-logo: 'Akzidenz-Grotesk BQ';
