@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: local('Akzidenz-Grotesk BQ Bold'), local('Akzidenz-Grotesk-BQ-Bold'),
        url('AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-Bold.woff') format('woff'),
        url('AkzidenzGroteskBQ-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }